body {
  width: 1000px;
  line-height: 24px;
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  font-weight: 500px;
}

[src="img/logo.jpg"]{
  position: relative;
  top: 15px;
  left: 250px;
}


.centerimages{
  position: relative;
  top: 60px;
  left: 250px;
}




















.navbar {
  overflow: hidden;
  width: 950px;
  background-color: #222931;
  position: relative;
  top: 30px;
  left: 250px;
}

.navbar a {
  float: left;
  font-size: 12px;
  font-weight: 500px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffe718;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222931;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffe718;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.bg-img {
  background-image: url("img/header.jpg");
  min-height: 380px;
  top: 10px;
  background-size: cover;
  width: 1600px;
}
